*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bo-header: #FF6900;
    --bo-sale: #FF0000;
    --bo-badge: #008000;
    --bo-footer: #1A1A1A;
    --bo-text-light: #ffffff;
    --bo-text-dark: #000000;
}

.container{
    width: 80%;
    max-width: 1400px;
    margin: auto;
}

a{
    text-decoration: none;
}

.row{
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*#region header*/
.banner{
    background-color: var(--bo-header);
    color: var(--bo-text-light);
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.gender a{
    color: var(--bo-text-light);
}

.logo img{
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*#endregion header*/

/*region main*/
.product{
    display: inline-block;
}

img{
    max-width: 100%;
}

.product{
    position: relative;
    background-color: #ffffff;
    text-align: center;
}

.like{
    position: absolute;
    background-color: var(--bo-text-light);
    top: 0.5rem;
    right: 0;
    padding: 0.5rem
}

.sale{
    background-color: var(--bo-sale);
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 0.5rem;
}

.badge{
    background-color: var(--bo-badge);
    position: absolute;
    bottom: 40px;
    left: 60px;
    padding: 0.5rem;

}

.sale, .badge, .badge_left{
    color: var(--bo-text-light);
}

.price_sale{
    color: var(--bo-sale);
}

.price{
    text-decoration: line-through;
    font-style: italic;
}

.product .image_back{
    display: none;
    visibility: hidden;
}

.product:hover .image_back{
    visibility: visible;
}

.badge_left{
    background-color: var(--bo-badge);
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 0.5rem;

}

/*endregion main*/

footer{
    background-color: var(--bo-footer);
    color: var(--bo-text-light);
}

footer .container{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer a{
    color: var(--bo-text-light);
}

footer h3, footer h4{
    padding-bottom: 0.5rem;
}
.footer_right .fa-brands{
    padding-left: 0.25rem; 
}
