*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bo-header: #FF6900;
    --bo-sale: #FF0000;
    --bo-badge: #008000;
    --bo-footer: #1A1A1A;
    --bo-text-light: #ffffff;
    --bo-text-dark: #000000;
}

.container{
    width: 80%;
    max-width: 1400px;
    margin: auto;
}

a{
    text-decoration: none;
}


/*#region header*/
.banner{
    background-color: var(--bo-header);
    color: var(--bo-text-light);
    display: flex;
    justify-content: space-around;
    align-items: center ;
}

.gender a{
    color: var(--bo-text-light);
}

.logo img{
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*#endregion header*/
